@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  display: flex;
  justify-content: center;
  color: white;
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: white;
  color: #29323c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  gap: 30px;
}

.right {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right img {
  width: 150px;
}
