@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root {
  min-height: 100vh;
  width: 100%;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: white;
  color: #29323c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  gap: 30px;
}

.right {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right > img {
  width: 150px;
}
.searchbar {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  border: none;
  background: #00000052;
}
.main-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.256);
}
.card {
  height: 300px;
  width: 220px;
  margin: 20px;
  border-radius: 10px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(252, 249, 249);
  color: #29323c;
  overflow: hidden;
  text-align: center;
}
.restaurantImg {
  width: 100%;
  height: 50%;
  border: none;
  overflow: hidden;
  background-color: #485563;
}
.restaurantImg > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.name {
  font-size: medium;
  padding: 10px;
}
